:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 500;
  color: #e7d107;
  text-decoration: inherit;
}
p:hover {
  color: #072627;
}

body {
  margin: 25 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  padding: 2rem;
  min-height: 320px;
}

.character-card {
  border: 2px solid crimson;
  margin-top: 10px;
  border-radius: 8px;
  padding: 1rem;
  background-color: #080808;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
  color: azure;
}

.character-card:hover {
  background-color: #f3d10f;
  box-shadow: 4px 4px 15px rgba(0,0,0,0.2);
  color: rgba(32, 30, 30, 0.87);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.loading-trigger {
  margin-top: 2rem;
  text-align: center;
  font-weight: bold;
}

.character-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

section {
  border: 2px solid orange;
  color: rgb(1, 12, 22);
  font-style: bold;
}

article {
  border: 2px solid red;
  padding: 16px;
  margin: 20px 10px 15px 10px ;
  cursor: pointer
}
.homeworld {
  background-color: crimson;
  color: #242424;
  padding: 8px;
  border-radius: 4px;
}

.error {
  background: #ffe5e5;
  color: #b00020;
  padding: 12px;
  border-radius: 6px;
}

